<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<body>
	<section layout:fragment="section-content">
		<div class="container">
			<h3 th:text="${status? '__#{work.form.create}__' : '__#{work.form.update}__'}" />
			<div class="row">
				<form method="post" th:action="${status}? @{/work/form} : @{/work/__${work.id}__}" th:object="${work}" class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<select th:field="*{company}">
								<option value="" th:if="${status}" th:disabled="${status}" th:selected="${status}" th:text="#{work.form.select.company}" />
								<option th:each="company : ${companyList}" th:text="${company.nombre}" th:value="${{company}}" />
							</select>
							<label th:text="#{work.company}" /><span th:if="${#fields.hasErrors('company')}" th:errors="*{company}" class="error-class" />
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select th:field="*{tupa}">
								<option value="" th:if="${status}" th:disabled="${status}" th:selected="${status}" th:text="#{work.form.select.tupa}" />
								<option th:each="tupa : ${tupaList}" th:text="${tupa.nombre}" th:value="${{tupa}}" />
							</select>
							<label th:text="#{work.tupa}" /><span th:if="${#fields.hasErrors('tupa')}" th:errors="*{tupa}" class="error-class" />
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input th:field="*{uit}" type="text" class="validate" />
							<label th:text="#{work.uit}" />
							<span th:if="${#fields.hasErrors('uit')}" th:errors="*{uit}" class="error-class" />
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<button class="btn waves-effect waves-light" type="submit" name="action" th:inline="text">[[#{op.guardar}]]<i class="material-icons right" th:text="#{icons.guardar}" /></button>
						</div>
						<div class="input-field col s6">
							<button class="btn waves-effect waves-light" type="reset" name="action" th:inline="text">[[#{op.limpiar}]]<i class="material-icons right" th:text="#{icons.limpiar}" /></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>