<footer class="page-footer" th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col l12 s12">
				<h6>Powered by AFS</h6>
			</div>
<!--
			<div class="col l4 offset-l2 s12">
				<h5>Links</h5>
				<ul>
					<li><a href="#!"><a href=""><i class="material-icons">facebook</i></a></a>
					</li>
				</ul>
			</div>
-->
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container"> © 2017 Copyright Asforsoft <a class="right" href="#!"><i class="material-icons">polymer</i></a>
		</div>
	</div>
</footer>
