<table class="highlight bordered responsive-table">
	<thead th:fragment="tableHeader (headers)">
		<tr>
			<th th:each="header : ${headers}" th:text="${header}" />
		</tr>
	</thead>
	<tbody>
		<tr th:fragment="tableBody(content,values,path)" th:each="row : ${content}">
			<th:block th:each="value, stat : ${values}">
				<td th:text="${row.__${value}__}" />
				<td th:if="${stat.last}" th:with="id=${row.__${values[0]}__}">
					<a th:href="@{/__${path}__/__${id}__}"> <i class="material-icons" th:text="#{icons.editar}" /></a>
					<a th:href="@{/__${path}__/delete/__${id}__}"> <i class="material-icons" th:text="#{icons.borrar}" /></a>
				</td>
			</th:block>
		</tr>
	</tbody>
</table>

<ul class="pagination" th:with="pageList=${#numbers.sequence(0,__${claimantsPage.getTotalPages() - 1}__)}">
	<th:block th:with="previous=${claimantsPage.hasPrevious()}">
		<li th:class="${previous}? 'waves-effect' : 'disabled'">
			<a th:attr="href=${previous}? @{/claimants(page=${pageNumber - 1},size=${pageSize})}"><i class="material-icons">chevron_left</i></a>
		</li>
	</th:block>
	<li th:each="page : ${pageList}" th:class="${pageNumber == page}? 'active' : 'waves-effect'"><a th:href="@{/claimants(page=${page},size=__${pageSize}__)}" th:text="${page + 1}" /></li>
	<th:block th:with="next=${claimantsPage.hasNext()}">
		<li th:class="${next}? 'waves-effect' : 'disabled'">
			<a th:attr="href=${next}? @{/claimants(page=${pageNumber + 1},size=__${pageSize}__)}"><i class="material-icons">chevron_right</i></a>
		</li>
	</th:block>
</ul>