<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head th:fragment="site-head">
	<title>STD App</title>
	<!-- meta -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<!-- css -->
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link href="../static/css/icon.css" th:href="@{/css/icon.css}" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="../static/css/materialize.css" th:href="@{/css/materialize.css}" media="screen,projection" />
	<link type="text/css" rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" media="screen,projection" />
</head>

<body>
	<header class="">
		<div class="navbar-fixed" th:fragment="site-navbar">
			<nav class="" role="navigation">
				<div class="">
					<div class="nav-wrapper">
						<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i
					               class="material-icons">menu</i></a>
						<a href="#" class="brand-logo">STD App</a>
						<ul class="right hide-on-med-and-down">
							<li><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdown1">Dropdown<i
					                     class="material-icons right">arrow_drop_down</i></a></li>
							<ul id='dropdown1' class='dropdown-content'>
								<li><a href="#!" class="">First</a></li>
								<li><a href="#!" class="">Second</a></li>
								<li><a href="#!" class="">Third</a></li>
								<li><a href="#!" class="">Fourth</a></li>
							</ul>
							<li><a href="#!" class="">First Link</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<div id="side-nav">
		<ul id="slide-out" class="side-nav fixed">
			<li>
				<div class="userView">
					<div class="background">
						<img src="../static/images/office.jpg" th:src="@{/images/office.jpg}">
					</div>
					<a href="#!user"><img class="circle" src="../static/images/yuna.jpg" th:src="@{/images/yuna.jpg}"></a>
					<a href="#!name"><span class="white-text name">John Doe</span></a>
					<a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
				</div>
			</li>
			<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
			<li><a href="#!">Second Link</a></li>
			<li>
				<div class="divider"></div>
			</li>
			<li class="no-padding">
				<ul class="collapsible collapsible-accordion">
					<li><a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a href="#!">First</a></li>
								<li><a href="#!">Second</a></li>
								<li><a href="#!">Third</a></li>
								<li><a href="#!">Fourth</a></li>
							</ul>
						</div>
					</li>
					<li><a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a href="#!">First</a></li>
								<li><a href="#!">Second</a></li>
								<li><a href="#!">Third</a></li>
								<li><a href="#!">Fourth</a></li>
							</ul>
						</div>
					</li>
					<li><a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
						<div class="collapsible-body">
							<ul>
								<li><a href="#!">First</a></li>
								<li><a href="#!">Second</a></li>
								<li><a href="#!">Third</a></li>
								<li><a href="#!">Fourth</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
			<li><a class="subheader">Subheader</a></li>
			<li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
		</ul>
	</div>
	<main>
		<div class="row">
			<div class="col s12">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt odit laborum odio ullam, dolore iusto reiciendis vero repellat sapiente unde alias nesciunt harum, accusamus corporis placeat minima, doloremque molestiae perspiciatis.</p>
				<p>Facere at omnis laboriosam esse debitis, nobis necessitatibus aliquid sequi placeat sapiente dicta amet distinctio id, deserunt quibusdam laborum quis, pariatur tempora accusantium facilis eum dolore ab! Incidunt ea, magnam.</p>
				<p>Numquam consequatur, nihil officiis nobis est omnis eius nam architecto nesciunt facere culpa, ex dicta, saepe magni! Consequatur at quam ullam, repellat, inventore fugit quo, facilis illum architecto dolore sunt.</p>
				<p>Dolorem error tenetur necessitatibus delectus exercitationem iste excepturi, assumenda voluptate eveniet soluta ipsam omnis accusantium. Odit id necessitatibus neque omnis voluptate? Doloribus minus illum hic at est placeat, blanditiis commodi.</p>
				<p>Suscipit est cupiditate tempore laboriosam mollitia iure autem, molestias! Dolores aliquid fugit eaque impedit voluptates quae nulla obcaecati, temporibus sapiente corporis, vero adipisci laboriosam, ullam quos quisquam totam! Earum, natus.</p>
				<p>Consequuntur quas deserunt quisquam perferendis officia, nisi nam, aperiam, quis quam mollitia dicta repellat laboriosam. Voluptatem cumque sequi quas quisquam animi? Autem minus ab quo, quam voluptatibus maxime quia consequuntur!</p>
				<p>Rerum quidem, illum aut repellendus autem itaque dignissimos. Voluptatibus saepe porro ipsum facere culpa eveniet earum pariatur numquam, cum magni cumque ad unde a iure odit ut debitis alias, quae.</p>
				<p>Quia ab labore eos odio quod, quas autem, rem ipsam accusamus incidunt sapiente voluptatum aspernatur sequi, nemo maiores eaque a necessitatibus eius nesciunt, porro numquam velit perspiciatis recusandae quibusdam. Minus?</p>
				<p>Dolorum totam, beatae veniam eum in laboriosam alias fugiat. Ab eos eveniet, similique consequatur sequi quis saepe, at quibusdam cum, facere dicta temporibus odit ipsa eaque sapiente quisquam. Nulla, quas.</p>
				<p>Dolorum vel, quae eveniet corrupti saepe natus. Numquam earum sunt voluptatem qui dignissimos eius praesentium neque ea rerum amet blanditiis, at, consectetur quas, optio aspernatur ex aliquid quia? Praesentium, unde!</p>
			</div>
		</div>
	</main>
	<!--  Scripts-->
	<!--Import jQuery before materialize.js-->
	<!--  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
	<script type="text/javascript" src="../static/js/jquery-1.12.2.min.js" th:src="@{/js/jquery-1.12.2.min.js}"></script>
	<script type="text/javascript" src="../static/js/materialize.min.js" th:src="@{/js/materialize.js}"></script>
	<script type="text/javascript" src="../static/js/init.js" th:src="@{/js/init.js}"></script>
	<script type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>